<%- layout("layouts/boilerplate") %>

	<div class="row">
		<div class="col-6 offset-3">
			<div class="card mb-3">
				<img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.title %>">
				<div class="card-body">
					<h5 class="card-title">
						<%= campground.title %>
					</h5>
					<p class="card-text">
						<%= campground.description %>
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-muted">
						<%= campground.location %>
					</li>
					<li class="list-group-item">$<%= campground.price %>/Night</li>
					<li class="list-group-item">
						<a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit</a>
						<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
							<button class="btn btn-danger">Delete</button>
						</form>
					</li>
				</ul>
				<div class="card-footer text-body-secondary">
					2 days ago
				</div>
			</div>
			<form action="/campgrounds/<%= campground._id %>/review" method="POST" class="mb-3">
				<h2>Leave a review!</h2>
				<div class="mb-3">
					<label for="rating" class="form-label">Rating:</label>
					<input type="range" name="review[rating]" id="rating" class="form-range" min="0" max="5">
				</div>
				<div class="mb-3">
					<label for="body" class="form-label">Review:</label>
					<textarea name="review[body]" id="body" cols="30" rows="3" class="form-control"></textarea>
				</div>
				<button class="btn btn-success">Submit</button>
			</form>
			<footer class="text-center">
				<a href="/campgrounds">All campgrounds</a>
			</footer>
		</div>
	</div>